<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<nav>
  <ul>
    <li> <a href="/"> Welcome </a></li>
    <li> <a href="/vimal">Vimal Shah</a> </li>
    <li> <a href="/dimple">Dimple Shah</a> </li>
    <li> <a href="/rutul">Rutul Shah</a> </li>
    <li> <a href="/minauti">Minauti Shah</a> </li>
  </ul>
</nav>
